.DS_Store

.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*
dist
node_modules

yarn-error.log
/cypress/screenshots/
/__sapper__/
mmmm.code-workspace
static/global.css
#docs/global.css
#docs/bundle.*
docs/components.*
docs/utils.*
yarn.lock